[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RcmdrPlugin.PcaRobust"]
	path = RcmdrPlugin.PcaRobust
	url = https://github.com/cran/RcmdrPlugin.PcaRobust
	shallow = true
	registered = true
